PERSONAL_AGENT_ENVIRONMENT=development
PERSONAL_AGENT_LOG_LEVEL=INFO
PERSONAL_AGENT_API_HOST=0.0.0.0
PERSONAL_AGENT_API_PORT=8000
PERSONAL_AGENT_DISCORD_BOT_TOKEN=
PERSONAL_AGENT_DISCORD_COMMAND_PREFIX=!
PERSONAL_AGENT_DISCORD_COMMAND_CHANNEL_ID=
PERSONAL_AGENT_DISCORD_SUMMARY_CHANNEL_ID=
PERSONAL_AGENT_DISCORD_INTERESTING_CHANNEL_ID=
PERSONAL_AGENT_DISCORD_OPPORTUNITIES_CHANNEL_ID=
PERSONAL_AGENT_HN_POLL_HOURS=4
PERSONAL_AGENT_HN_FETCH_LIMIT=60
PERSONAL_AGENT_HN_INCLUDE_BEST=false
PERSONAL_AGENT_SUMMARY_TOP_N=8
PERSONAL_AGENT_INTERESTING_TOP_N=5
PERSONAL_AGENT_OPPORTUNITIES_TOP_N=5
PERSONAL_AGENT_SQLITE_PATH=data/personal_agent.db
PERSONAL_AGENT_BOT_STARTUP_HN_RUN=false
PERSONAL_AGENT_LLM_PROVIDER=nebius
PERSONAL_AGENT_LLM_MODEL=moonshotai/Kimi-K2.5-fast
PERSONAL_AGENT_LLM_BASE_URL=https://api.tokenfactory.us-central1.nebius.com/v1/
PERSONAL_AGENT_LLM_API_KEY=
NEBIUS_API_KEY=
